[

 {kernel, [
   % {error_logger, {file, "b/log/error.log"}},
   {sync_nodes_mandatory, [
	'a@localhost',
	'b@localhost',
	'c@localhost'
   ]},
   {sync_nodes_timeout, infinity}
 ]},

 {sasl, [
         {sasl_error_logger, {file, "b/log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "b/log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}

].